
<div class="signup-container">
  <img src="../Images/LoginPaoge/login.jpg" alt="">
    <h2>Signup</h2>
    <form action="/signup" method="POST">
      <div class="form-group">
        <label for="Full Name">First Name</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Last Name</label>
        <input type="text" id="text" name="text" required>
      </div>

      <div class="form-group">
        <label for="phone">Phone No</label>
        <input type="number" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="email">Email Id</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="email">UserName</label>
        <input type="text" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <button type="submit" >Signup</button>
      </div>
    </form>
    <div class="signup-footer">
      <p>Already have an account? <a href="/login">Login here</a></p>
    </div>
  </div>
