<nav class="navbar bg-primary" data-bs-theme="dark">
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active"  routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   routerLink="/login" >Login</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/signup" >SignUp</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/contactus" >Contact For Queries</a>
          </li>

      </ul>
</nav>

